{
  "presets": [
    "@babel/preset-typescript",
    "next/babel"
  ],
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup"],
        "plugins": ["line-numbers"],
        "theme": "twilight",
        "css": true
    }]
  ]
}